.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: spaceIncr(4) 0;

    @include tablet{
        padding: spaceIncr(3) 0;
        width: 91.667%;
    }

    @include mobile{
        width: 91.467%;
    }
}