.create-proj{
    @include flex(row,center,center);


    &__header{
        @extend .main-header;
        margin: 0 0 spaceIncr(3) 0;
    }

    &__form{
        width: 75%;
        min-width: 500px;
        @include flex(column);
        background-color: $card-bg;
        border-radius: spaceIncr();
        padding: spaceIncr(3);
    }

    &__label{
        @extend .link-text;
        @include flex(column);
        margin-bottom: spaceIncr(3);
    }

    &__input{
        @extend .para-text;
        margin-top: spaceIncr(0.5);
        padding: spaceIncr();
        border-radius: spaceIncr();
        border:none;
        font-family: inherit;
    }

    &__details{
        @extend .para-text;
        margin-top: spaceIncr(0.5);
        padding: spaceIncr();
        border-radius: spaceIncr();
        border:none;
        font-family: inherit;
        resize: none;
        height: 150px;
    }

    button{
        align-self: flex-start;
    }
}