.large-header{
    font-size: 2.375rem;
    line-height: 100%;
    font-weight: bold;
}

.main-header{
    font-size: 1.875rem;
    line-height: 100%;
    font-weight: bold;
}

.sub-header{
    font-size: 1.5rem;
    line-height: 2.625rem;
    font-weight: bold;
}


.link-text{
    font-size: 1.1875rem;
    line-height: 2.1875rem;
    font-weight: normal;
}

.btn-text{
    font-size: 0.9375rem;
    line-height: 1.8125rem;
    font-weight: 600;
}

.para-text{
    font-size: 0.9375rem;
    line-height: 1.8125rem;
    font-weight: normal;
}

