//Spacing Increment
$spacing: 8px;

//Colours
$grey: #374045;
$red: #2c061f;
$orange: #d89216;
$yellow: #e1d89f;

$font-dark: #374045;
$font-light: #ffffff;

$global-bg: #2c061f;
$global-border:#374045;

$nav-bg:#374045;

$card-bg: #e1d89f;

$btn-border: #374045;
$btn-bg: #d89216;
$btn-hover: rgba(216, 146, 22, 0.6);
$btn-active:#374045;