//Spacing Increment
$spacing: 8px;

//Colours
$col1: #f7f7f7;
$col2: #eeeeee;
$col3: #393e46;
$col4: #929aab;

$font-dark: #393e46;
$font-light: #ffffff;

$global-bg: #f7f7f7;
$global-border:#393e46;

$nav-bg:#393e46;

$card-bg: #eeeeee;

$btn-border: #393e46;
$btn-bg: #929aab;
$btn-hover: rgba(146, 154, 171, 0.6);
$btn-active:#393e46;