//Spacing Increment
$spacing: 8px;

//Colours
$grey: #374045;
$red: #2c061f;
$orange: #d89216;
$yellow: #e1d89f;

$font-dark: #374045;
$font-light: #ffffff;

$global-bg: #2c061f;

$nav-bg:#374045;

$db-card-bg: #e1d89f;