@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../assets/fonts/OpenSans-Light.woff2") format("woff2"), url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../assets/fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../assets/fonts/OpenSans-Italic.woff2") format("woff2"), url("../assets/fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../assets/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../assets/fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../assets/fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../assets/fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../assets/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.large-header {
  font-size: 2.375rem;
  line-height: 100%;
  font-weight: bold;
}

.main-header, .notifications__header, .projects__title, .create-proj__header {
  font-size: 1.875rem;
  line-height: 100%;
  font-weight: bold;
}

.sub-header, .proj-detail__title {
  font-size: 1.5rem;
  line-height: 2.625rem;
  font-weight: bold;
}

.link-text, .nav__logo-link, .nav__link, .nav__btn, .projects__text, .create-proj__label {
  font-size: 1.1875rem;
  line-height: 2.1875rem;
  font-weight: normal;
}

.btn-text, .btn {
  font-size: 0.9375rem;
  line-height: 1.8125rem;
  font-weight: 600;
}

.para-text, .notifications__text, .create-proj__input, .create-proj__details, .proj-detail__details, .proj-detail__text {
  font-size: 0.9375rem;
  line-height: 1.8125rem;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  color: #393e46;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 32px 0;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 24px 0;
    width: 91.667%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 91.467%;
  }
}

header {
  width: 100%;
  background-color: #393e46;
  color: #ffffff;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 0;
}

.nav__logo-link {
  color: inherit;
  text-decoration: none;
  padding: 8px 0;
}

.nav__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__list-item {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav__list-item--initials {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 8px;
}

.nav__link--initials {
  border-radius: 50%;
  background-color: #929aab;
  width: 56px;
  height: 56px;
  padding: 0;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

.nav__btn:hover {
  outline: none;
  border: 1px solid #393e46;
}

.nav__btn:active {
  outline: none;
  border: 1px solid #393e46;
}

.nav__btn:focus {
  outline: none;
  border: 1px solid #393e46;
}

.dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.notifications {
  padding: 24px 40px;
  margin-right: 24px;
  background-color: #eeeeee;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.notifications__header {
  margin: 0 0 16px 0;
}

.notifications__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.notifications__list-item {
  padding: 8px 0;
  margin-bottom: 4px;
}

.notifications__list-item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.notifications__text {
  margin: 0 0 8px;
}

.notifications__text--name {
  font-weight: bold;
  margin: 0 4px 8px 0;
  color: #929aab;
}

.projects {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects__link {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
}

.projects__list-item {
  padding: 0;
  margin-bottom: 24px;
  background-color: #eeeeee;
  border-radius: 8px;
}

.projects__title {
  width: 100%;
  margin: 0 0 16px 0;
}

.projects__text {
  margin: 0;
}

.projects__text--name {
  margin: 0 8px 8px 0;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.signup__header {
  margin: 0 0 24px 0;
}

.signup__form {
  width: 50%;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 24px;
}

.signup__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 24px;
}

.signup__input {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

.signup button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.signin__header {
  margin: 0 0 24px 0;
}

.signin__form {
  width: 50%;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 24px;
}

.signin__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 24px;
}

.signin__input {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

.signin button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.create-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.create-proj__header {
  margin: 0 0 24px 0;
}

.create-proj__form {
  width: 75%;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 24px;
}

.create-proj__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 24px;
}

.create-proj__input {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

.create-proj__details {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  resize: none;
  height: 150px;
}

.create-proj button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.proj-detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 40px 24px 24px;
  position: relative;
}

.proj-detail__action-container {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 8px 0 0;
}

.proj-detail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  margin: 0 0 0 16px;
  cursor: pointer;
}

.proj-detail__btn:hover {
  outline: none;
  border: 1px solid #393e46;
}

.proj-detail__btn:active {
  outline: none;
  border: 1px solid #393e46;
}

.proj-detail__btn:focus {
  outline: none;
  border: 1px solid #393e46;
}

.proj-detail__icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.proj-detail__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 0 32px;
  margin: 0 0 32px;
  border-bottom: 1px solid #393e46;
}

.proj-detail__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 16px;
}

.proj-detail__input {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

.proj-detail__txt-area {
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  resize: none;
  height: 150px;
}

.proj-detail__edit-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.proj-detail__title {
  margin: 0 0 16px 0;
  width: 100%;
}

.proj-detail__details {
  width: 100%;
  padding: 0 24px 32px;
  margin: 0 0 32px;
  border-bottom: 1px solid #393e46;
}

.proj-detail__text {
  margin: 0 24px;
}

.btn {
  padding: 8px 24px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: #929aab;
}

.btn:hover {
  background-color: rgba(146, 154, 171, 0.6);
}

.btn:active {
  outline: none;
  border-radius: 8px;
  border: 2px solid #ffffff;
  background-color: #393e46;
}

.btn:focus {
  outline: none;
  border-radius: 8px;
  border: 2px solid #ffffff;
}
/*# sourceMappingURL=main.css.map */